################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ZaminAggregateGenerator/bin
/src/ZaminAggregateGenerator/obj
/sample/UI/obj
/sample/UI/bin
/src/ZaminAggregateGenerator/obj
/src/ZaminAggregateGenerator/bin
/src/RazorAggregateGenerator/obj
/src/RazorAggregateGenerator/bin
