################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/UI/bin/Debug/net7.0
/src/UI/obj
/src/ZaminAggregateGenerator/bin/Debug/net7.0
/src/ZaminAggregateGenerator/obj
